h1 {
    text-align: center;
    margin-bottom: 20px;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f8f8f8;
    display: flex;
    height: calc(100vh - 40px);
    overflow: hidden;
}
form {
    border-radius: 5px;
}

.system-container {
    display: flex;
    max-width: 560px;
    background-color: #fff;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    gap: 15px;
    width: calc(100% - 30px);
}
.turn {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    gap: 20px;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: calc(100% - 40px);
}

.turn div {
    width: 100%;
}
.turn button {
    margin-top: 20px;
    height: 40px;
    border: 2px solid black;
    align-items: start;
}

.turns {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    height: 60vh;
    overflow-y: scroll;
    font-weight: bold;
    padding: 10px;
    overflow-x: hidden;
}

textarea {
    width: 100%;
    min-height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    resize: vertical;
    white-space: pre;
    overflow-x: auto;
    outline: none;
}

button, input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover, input[type="submit"]:hover {
    background-color: white;
    color: black;
    
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
}
.button-container input {
    margin-right: 10px; /* Add right margin to create space between buttons */
    height: 40px;    
}
.button-container input:last-child {
    margin-right: 0; /* Remove right margin for the last button */

}
.settings-span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-span h3 {
    margin: 0;
    margin-right: 20px;
}
.settings-span button {
    margin-right: 10px; /* Add right margin to create space between buttons */
    width: 100px;
    height: 50px;
}
.button-container-two button:last-child {
    margin-right: 0; /* Remove right margin for the last button */
}

#add-turn-btn{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    align-self: center;
}
.footer {
    text-align: center;
    margin-top: 20px;
}
.tablink {
    background-color: white;
    color: black;
    float: left;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}

.tablink:hover {
    background-color: black;
    color: white;
}

/* Style the tab content (and add it to a container for full width) */
.tabcontent {
    color: black;
    display: none;
    text-align: left;
    width: 100%;
}

.tabcontainer {
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}

.main-col {
    display: flex;
    gap: 20px;
    margin: 35px 0;
}

.left-col {
    width: 60%;
}

.active {
    background-color: black;
    color: white;
}

.toast {
    position: absolute;
    right: 15px;
    top: 15px;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 6px;

}

.toast.success {
    background-color: rgba(95, 177, 44, 0.7);
    border-color: #3a8028;
    color: #3a8028;
}

.toast.error {
    background-color: rgba(211, 75, 75, 0.7);
    border-color: #871b1b;
    color: #871b1b;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    position: relative;
}

#jsonViewer {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 14px;
    background-color: #1f1f1f;
    padding: 10px;
    margin-top: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 60vh;
    overflow-y: scroll;
}

#jsonViewer .hljs {
    background-color: transparent;
}