<!DOCTYPE html>
<html>
<head>
    <title>DPO Builder</title>
</head>
<body>
    <div class="container">
        <form id="dpoForm" action="/dpo" method="POST" onsubmit="submitForm(event, 'dpo')">
            <div class="turns" id="dpoTurns">
                <button type="button" onclick="resetForm('dpo')"><i class="fa-solid fa-rotate-right"></i></button>
                <div class="system-container">
                    <label for="system">System:</label>
                    <textarea id="system" name="system"></textarea>
                </div>
                
                <div class="turn">
                    <div>
                        <label for="prompt">Prompt:</label>
                        <textarea id="prompt" name="prompt"></textarea>
                    </div>
                    <div>
                        <label for="chosen">Chosen:</label>
                        <textarea id="chosen" name="chosen"></textarea>
                    </div>
                    <div>
                        <label for="rejected">Rejected:</label>
                        <textarea id="rejected" name="rejected"></textarea>
                    </div>
                    <button type="button" class="delete-turn" onclick="deleteTurn(this)">Delete</button>
                </div>
            </div>
            <div class="button-container">
                <button type="button" id="add-turn-btn" onclick="addTurn('dpo')"><i class="fa-solid fa-plus"></i></button>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>