<!DOCTYPE html>
<html>
<head>
    <title>ShareGPT Builder</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <h1>ShareGPT Builder</h1>
    <div class="tabcontainer">
        <div class="button-container-two">
            <button class="tablink" onclick="openTab('sft', this)" id="defaultOpen">SFT</button>
            <button class="tablink" onclick="openTab('dpo', this)">DPO</button>
        </div>
        <div id="sft" class="tabcontent">{% include 'sft_form.html' %}</div>
        <div id="dpo" class="tabcontent">{% include 'dpo_form.html' %}</div>
    </div>
    <div id="toast"></div>
    <div id="jsonModal" class="modal">
        <div class="modal-content">
            <span class="close"><i class="fa-solid fa-xmark"></i></span>
            <pre id="jsonViewer"></pre>
            <button id="editJsonBtn">Edit</button>
            <button id="saveJsonBtn" style="display: none;">Save</button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../static/script.js"></script>
</body>
</html>