<!DOCTYPE html>
<script src="{{ url_for('static', filename='main.js') }}"></script>
<html>
<head>
    <title>ShareGPT Builder</title>
</head>
<body>
    <div class="container">
        <form id="sftForm" action="/sft" method="POST" onsubmit="submitForm(event, 'sftForm', 'sft')">
            <div id="turns">
                <div class="turn">
                    <div>
                        <label for="system">System:</label>
                        <textarea id="system" name="system"></textarea>
                    </div>
                    <div>
                        <label for="user">User:</label>
                        <textarea id="user" name="user[]"></textarea>
                    </div>
                    <div>
                        <label for="gpt">GPT:</label>
                        <textarea id="gpt" name="gpt[]"></textarea>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button type="button" onclick="addTurn()">Add Turn</button>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    <script>
    function addTurn() {
        let turns = document.getElementById('turns');
        let newTurn = document.createElement('div');
        newTurn.innerHTML = '<div><label for="user">User:</label><textarea id="user" name="user[]"></textarea></div><div><label for="gpt">GPT:</label><textarea id="gpt" name="gpt[]"></textarea></div>';
        turns.appendChild(newTurn);
    }
    </script>
    <script>
        document.getElementById("sftForm").addEventListener("submit", function(){
            let turns = document.getElementById('turns');
            turns.innerHTML = '<div><label for="system">System:</label><textarea id="system" name="system"></textarea></div><div><label for="user">User:</label><textarea id="user" name="user[]"></textarea></div><div><label for="gpt">GPT:</label><textarea id="gpt" name="gpt[]"></textarea></div>';
            setTimeout(function() {
                document.getElementById("sftForm").reset();
            }, 10);
        });
    </script>
</body>
</html>