<!DOCTYPE html>
<script src="{{ url_for('static', filename='main.js') }}"></script>
<html>
<head>
    <title>ShareGPT Builder</title>
</head>
<body>
    <div class="container">
        <form id="sftForm" action="/sft" method="POST" onsubmit="submitForm(event, 'sftForm', 'sft')">
            <div id="turns">
                <div class="turn">
                    <div>
                        <label for="system">System:</label>
                        <textarea id="system" name="system"></textarea>
                    </div>
                    <div>
                        <label for="user">User:</label>
                        <textarea id="user" name="user[]"></textarea>
                    </div>
                    <div>
                        <label for="gpt">GPT:</label>
                        <textarea id="gpt" name="gpt[]"></textarea>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button type="button" onclick="addTurn()">Add Turn</button>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    <script>

        let initialTurn = document.querySelector('.turn');

        function addTurn() {
            var turns = document.getElementById('turns');
            var newTurn = document.createElement('div');
            newTurn.innerHTML = '<div><label for="user">User:</label><textarea id="user" name="user[]"></textarea></div><div><label for="gpt">GPT:</label><textarea id="gpt" name="gpt[]"></textarea></div>';
            turns.appendChild(newTurn);
        }
        
        function resetTurns(){
            let turns = document.getElementById('turns');
            turns.innerHTML = "";
            turns.appendChild(initialTurn);
        }

        let form = document.getElementById("sftForm")
        form.addEventListener("submit", function(){
            setTimeout(function() {
                document.getElementById("sftForm").reset();
                resetTurns();
            }, 10);
        });

       
    </script>
</body>
</html>