<!DOCTYPE html>
<html>
<head>
    <title>ShareGPT Builder</title>
</head>
<body>
    <div class="container">
        <form id="sftForm" action="/sft" method="POST" onsubmit="submitForm(event, 'sft')">
            <div class="turns" id="turns">
                <div class="system-container">
                    <label for="system">System:</label>
                    <textarea id="system" name="system"></textarea>
                </div>
                <div class="turn">
                    <div>
                        <label for="user">User:</label>
                        <textarea id="user" name="user[]"></textarea>
                    </div>
                    <div>
                        <label for="gpt">GPT:</label>
                        <textarea id="gpt" name="gpt[]"></textarea>
                    </div>
                    <button type="button" class="delete-turn" onclick="deleteTurn(this)">Delete</button>
                </div>
            </div>
            <div class="button-container">
                <button type="button" id="add-turn-btn" onclick="addTurn()"><i class="fa-solid fa-plus"></i></button>
                <input type="submit" value="Submit">
                <button type="button" onclick="openJsonModal('sft')">View/Edit JSON</button>
            </div>
        </form>
    </div>
</body>
</html>